name: QA Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: Playwright/skai-wp-regression-tests
        run: |
          npm install
          npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: Playwright/skai-wp-regression-tests
        run: npx playwright test

  cypress:
    name: Cypress Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: Cypress/cypress-tests
        run: npm install

      - name: Run Cypress tests
        working-directory: Cypress/cypress-tests
        run: npx cypress run
